.detail {
  background-color: #f5f5f5;
  color: #333333;
  height: 2655px;
  padding: 40px 370px 0;
  position: relative;
  &__main {
    background-color: #fff;
    // height: 803px;
    width: 620px;
    padding: 24px 40px 40px;
    &__name{
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
    // &__remarks {
    //   // color: #888;
    //   // font-size: 14px;
    //   // margin-top: 8px;
    // }
    &__content {
      margin: 16px 0 0;
      &__image {
        // position: relative;
        float: left;
        margin: 0 auto;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        background-color: #fafafa;
        // height: 376px;
        // width: 225px;
        // // padding: 0 37.5px;
        // margin: 16px 0 65px;
        // position: relative;
        &__main {
          // float: left;
          // position: relative;
          &__photo {
            // position: absolute;
            // top: 0;
            // right: 0;
            // bottom: 0;
            // left: 0;
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__sub {
          line-height: 0;
          height: 120px;
          &__thumb {
            // position: relative;
            display: block;
            float: left;
            // max-height: none;
              width: 60px;
              height: 60px;
            &__photo {
              // position: static;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
      &__status {
        // float: right;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        border-spacing: 0;
        font-size: 14px;
        &__user {
          &__name {
            color: #0099e8;
          }
          &__ratings:first-child {
            display: inline-block;
            margin: 0;
          }
          &__ratings {
            display: inline-block;
            margin: 8px 0 0 16px;
            &--good {
              color: #ef5185;
              font-size: 16px;
              vertical-align: middle;
              &--count {
                vertical-align: middle;
              }
            }
            &--normal {
              color: #fba933;
              font-size: 16px;
              vertical-align: middle;
              &--count {
                vertical-align: middle;
              }
            }
            &--bad {
              color: #6ab5d8;
              font-size: 16px;
              vertical-align: middle;
              &--count {
                vertical-align: middle;
              }
            }
          }
        }
        &--category {
          color: #0099e8;
        }
      }
        &__status tbody {
          display: table-row-group;
          vertical-align: middle;
          border-color: inherit;
        }
        &__status th {
          width: 39%;
          text-align: left;
          font-weight: 400;
          background: #fafafa;
          padding: 8px;
          border-collapse: collapse;
          border: 1px solid #f5f5f5;
        }
        &__status td {
          width: 61%;
          background: #fff;
          padding: 8px;
          border-collapse: collapse;
          border: 1px solid #f5f5f5;
        }
      // &__status {
      //   background-color: #fafafa;
      //   width: 300px;
      //   top: 145px;
      //   right: 410px;
      //   font-size: 14px;
      //   position: absolute;
      //   &__large-box {
      //     display: inline-flex;
      //     height: 64px;
      //     width: 291px;
      //     padding-left: 8px;
      //     border: solid 1px #f5f5f5;
      //     &--title {
      //       width: 109px;
      //       line-height: 64px;
      //       border-right: solid 1px #f5f5f5;
      //     }
      //     &--seller {
      //       background-color: #ffffff;
      //       color: #0099e8;
      //       width: 166px;
      //       padding: 8px;
      //       &--good-icon {
      //         display: inline-flex;
      //         color: #ef5185;
      //         font-size: 16px;
      //         margin-top: 8px;
      //         &--count {
      //           color: #333333;
      //           font-size: 14px;
      //           margin: 0 19px 0 2px;
      //         }
      //       }
      //       &--normal-icon {
      //         display: inline-flex;
      //         color: #fba933;
      //         font-size: 16px;
      //         &--count {
      //           color: #333333;
      //           font-size: 14px;
      //           margin: 0 19px 0 2px;
      //         }
      //       }
      //       &--bad-icon {
      //         display: inline-flex;
      //         color: #6ab5d8;
      //         font-size: 16px;
      //         &--count {
      //           color: #333333;
      //           font-size: 14px;
      //           margin-left: 2px;
      //         }
      //       }
      //     }
      //     &--category {
      //       background-color: #ffffff;
      //       color: #0099e8;
      //       width: 174px;
      //       padding: 8px 0 0 8px;
      //       &--child {
      //         margin-top: -7px;
      //       }
      //       &--grandchild {
      //         margin-top: -7px;
      //       }
      //     }
      //   }
      //   &--box {
      //     display: inline-flex;
      //     height: 39px;
      //     line-height: 39px;
      //     width: 291px;
      //     padding-left: 8px;
      //     border: solid 1px #f5f5f5;
      //     &--title {
      //       width: 109px;
      //       border-right: solid 1px #f5f5f5;
      //     }
      //     &--right-blue {
      //       background-color: #ffffff;
      //       color: #0099e8;
      //       width: 174px;
      //       padding-left: 8px;
      //     }
      //     &--right-black {
      //       background-color: #ffffff;
      //       color: #333333;
      //       width: 174px;
      //       padding-left: 8px;
      //     }
      //   }
      // }
    }
    &__price {
      margin: 24px 0 0;
      font-size: 48px;
      font-weight: 600;
      text-align: center;
      &--tax {
        font-size: 10px;
        font-weight: normal;
      }
      &--shipping-fee {
        font-size: 16px;
        font-weight: normal;
      }
    }
    &__btn--red {
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      height: 60px;
      line-height: 60px;
      width: 620px;
      text-align: center;
      margin-top: 16px;
      background-color: #e62017;
    }
    &__text-between-btn {
      margin: 10px auto;
      text-align: center;
      font-size: 20px;
    }
    &__btn--gray {
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      height: 60px;
      line-height: 60px;
      width: 620px;
      text-align: center;
      margin-top: 16px;
      background-color: #aaa;
    }
    &__description {
      font-size: 18px;
      padding-top: 32px;
    }
    &__btn-box {
      display: inline-flex;
      height: 33px;
      line-height: 33px;
      font-size: 14px;
      text-align: center;
      margin-top: 16px;
      &--likes {
        background-color: #f5f5f5;
        width: 116px;
        border: solid 1px #f5f5f5;
        border-radius: 40px;
        margin-right: 16px;
      }
      &--report {
        background-color: #f5f5f5;
        width: 178px;
        border: solid 1px #f5f5f5;
        border-radius: 40px;
        margin-right: 80px;
      }
      &--effort {
        color: #0099e8;
      }
    }
  }
  &__links {
    display: inline-flex;
    color: #0099e8;
    font-size: 14px;
    margin-top: 24px;
    &--left {
      margin-right: 346px;
    }
  }
  &__sns {
    display: inline-flex;
    background-color: #fff;
    height: 138px;
    width: 160px;
    margin-top: 24px;
    padding: 0 270px;
    &--facebook {
      background-color: #385185;
      color: #fff;
      font-size: 30px;
      height: 44px;
      line-height: 44px;
      width: 44px;
      text-align: center;
      border-radius: 4px;
      margin: 60px 8px 0 6px;
    }
    &--twitter {
      background-color: #5d9dc9;
      color: #fff;
      font-size: 30px;
      height: 44px;
      line-height: 44px;
      width: 44px;
      text-align: center;
      border-radius: 4px;
      margin: 60px 8px 0 0;
    }
    &--pinterest {
      background-color: #aa262a;
      color: #fff;
      font-size: 19px;
      height: 44px;
      line-height: 44px;
      width: 44px;
      text-align: center;
      border-radius: 4px;
      margin-top: 60px;
    }
  }
  &__other {
    margin: 24px 0;
    &--exhibit {
      color: #0099e8;
      font-size: 22px;
      font-weight: 600;
      height: 760px;
      &--product {
        background-color: #ffffff;
        color: #333333;
        font-size: 16px;
        font-weight: normal;
        height: 327px;
        width: 220px;
        margin-top: 8px;
        &--name {
          padding: 9px 16px 24px 16px;
        }
        &--lower {
          display: inline-flex;
          padding: 9px 16px;
          font-weight: 600;
          &--right {
            letter-spacing: 3px;
            margin-left: 111px;
          }
        }
      }
    }
  }
}
.footer-bread-crumbs {
  display: flex;
  background-color: #f5f5f5;
  height: 48px;
  line-height: 48px;
  border-top: solid 1px #eee;
  padding: 0 210px;
  font-size: 14px;
  &__second {
    margin-left: 10px;
    font-weight: 600;
  }
}