.card-box {
  background-color: #ffffff;
  width: 700px;
  top: 190px;
  right: 210px;
  position: absolute;
  &__container {
    &__head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      line-height: 1.4;
      text-align :center;
      font-weight: bold;
    }
    &__inner {
      padding: 64px;
      &__content {
        max-width: 320px;
        margin: 0 auto;
        &__head {
          font-size: 16px;
          font-weight: bold;
        }
        &__card-list {
        padding: 24px 0;
        border-bottom: 1px solid #eee;
          &__wrapper {
            position: relative;
            max-width: 320px;
            margin: 0 auto;
          }
          &__img {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            &__visa {
              width: 49px;
              height: 20px;
              margin: 0;
            }
            &__master,
            &__jcb,
            &__saison {
              width: 34px;
              height: 20px;
              margin: 0 0 0 8px;
            }

            &__amex {
              width: 21px;
              height: 20px;
              margin: 0 0 0 8px;
            }

            &__dinersclub,
            &__discover {
              width: 32px;
              height: 20px;
              margin: 0 0 0 8px;
            }
          }
          &__card-number {
                margin: 8px 0 0;
                font-size: 16px;
          }
          &__exp-date {
                margin: 8px 0 0;
                font-size: 16px;
          }
          &__btn {
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px 6px;
            background: #fff;
            font-size: 14px;
            line-height: 16px;
            height: 24px;
            border-radius: 3px;
            border: 1px solid #ea352d;
            color: #ea352d;
            cursor: pointer;
          }
        }
      }
      &__addition {
        padding: 24px 0;
        border-bottom: 1px solid #eee;
        &__content {
          max-width: 320px;
          margin: 0 auto;
          &__btn {
            display: block;
            height: 48px;
            width: 318px;
            line-height: 48px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background-color: #ea352d;
            margin-bottom: 8px;
            position: relative;
            &__icon {
              position: absolute;
              top: 17.5px;
              left:35px;
            }
          }
        }
      }
      &__text-right {
        margin-top: 32px;
        text-align: right;

        &__text {
          color: #0099e8;
          font-size: 14px;
        }

        &__icon {
          color: #0099e8;
        }
      }
    }
  }
}
