.header-bread-crumbs
  .header-bread-crumbs__origin
    メルカリ
    .header-bread-crumbs__branch
      >
    .header-bread-crumbs__2nd
      マイページ
      .header-bread-crumbs__branch
        >
      .header-bread-crumbs__3rd
        ログアウト
