.mypage-wrapper
  .sidebar
    .sidebar__list
      マイページ
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      お知らせ
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      やることリスト
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      いいね！一覧
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      出品する
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      出品した商品 - 出品中
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      出品した商品 - 取引中
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      出品した商品 - 売却済み
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      購入した商品 - 取引中
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      購入した商品 - 過去の取引
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      ニュース一覧
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      評価一覧
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      ガイド
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      お問い合わせ
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__title
      メルペイ
    .sidebar__list
      売上・振込申請
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      ポイント
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__title
      設定
    .sidebar__list
      プロフィール
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      発送元・お届け先住所変更
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      支払い方法
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      メール/パスワード
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      本人情報
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      電話番号の確認
      .sidebar__list--detail
        %i.fas.fa-chevron-right
    .sidebar__list
      ログアウト
      .sidebar__list--detail
        %i.fas.fa-chevron-right
